<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention"
            class="codingConvention.CodingConventionPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention/filters"
            class="codingConvention.filters.FiltersPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention/elements"
            class="codingConvention.elements.ElementsPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention/elements/properties"
            class="codingConvention.elements.properties.PropertiesPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention/elements/namedElements"
            class="codingConvention.elements.namedElements.NamedElementsPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention/elements/statements"
            class="codingConvention.elements.statements.StatementsPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention/elements/types"
            class="codingConvention.elements.types.TypesPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codingConvention -->
      <package
            uri="http://www.example.org/codingConvention/values"
            class="codingConvention.values.ValuesPackage"
            genModel="model/codingConvention.genmodel"/>
   </extension>

</plugin>
