<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codingConvention -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="codingConvention.presentation.CodingConventionModelWizardID"
            name="%_UI_CodingConventionModelWizard_label"
            class="codingConvention.presentation.CodingConventionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CodingConventionModelFile.gif">
         <description>%_UI_CodingConventionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated codingConvention -->
      <editor
            id="codingConvention.presentation.CodingConventionEditorID"
            name="%_UI_CodingConventionEditor_label"
            icon="icons/full/obj16/CodingConventionModelFile.gif"
            extensions="codingconvention"
            class="codingConvention.presentation.CodingConventionEditor"
            contributorClass="codingConvention.presentation.CodingConventionActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codingConvention -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="codingConvention.filters.presentation.FiltersModelWizardID"
            name="%_UI_FiltersModelWizard_label"
            class="codingConvention.filters.presentation.FiltersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FiltersModelFile.gif">
         <description>%_UI_FiltersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated codingConvention -->
      <editor
            id="codingConvention.filters.presentation.FiltersEditorID"
            name="%_UI_FiltersEditor_label"
            icon="icons/full/obj16/FiltersModelFile.gif"
            extensions="filters"
            class="codingConvention.filters.presentation.FiltersEditor"
            contributorClass="codingConvention.filters.presentation.FiltersActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codingConvention -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="codingConvention.elements.namedElements.presentation.NamedElementsModelWizardID"
            name="%_UI_NamedElementsModelWizard_label"
            class="codingConvention.elements.namedElements.presentation.NamedElementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NamedElementsModelFile.gif">
         <description>%_UI_NamedElementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated codingConvention -->
      <editor
            id="codingConvention.elements.namedElements.presentation.NamedElementsEditorID"
            name="%_UI_NamedElementsEditor_label"
            icon="icons/full/obj16/NamedElementsModelFile.gif"
            extensions="namedelements"
            class="codingConvention.elements.namedElements.presentation.NamedElementsEditor"
            contributorClass="codingConvention.elements.namedElements.presentation.NamedElementsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codingConvention -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="codingConvention.elements.statements.presentation.StatementsModelWizardID"
            name="%_UI_StatementsModelWizard_label"
            class="codingConvention.elements.statements.presentation.StatementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StatementsModelFile.gif">
         <description>%_UI_StatementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated codingConvention -->
      <editor
            id="codingConvention.elements.statements.presentation.StatementsEditorID"
            name="%_UI_StatementsEditor_label"
            icon="icons/full/obj16/StatementsModelFile.gif"
            extensions="statements"
            class="codingConvention.elements.statements.presentation.StatementsEditor"
            contributorClass="codingConvention.elements.statements.presentation.StatementsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codingConvention -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="codingConvention.elements.types.presentation.TypesModelWizardID"
            name="%_UI_TypesModelWizard_label"
            class="codingConvention.elements.types.presentation.TypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypesModelFile.gif">
         <description>%_UI_TypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated codingConvention -->
      <editor
            id="codingConvention.elements.types.presentation.TypesEditorID"
            name="%_UI_TypesEditor_label"
            icon="icons/full/obj16/TypesModelFile.gif"
            extensions="types"
            class="codingConvention.elements.types.presentation.TypesEditor"
            contributorClass="codingConvention.elements.types.presentation.TypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated codingConvention -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="codingConvention.values.presentation.ValuesModelWizardID"
            name="%_UI_ValuesModelWizard_label"
            class="codingConvention.values.presentation.ValuesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ValuesModelFile.gif">
         <description>%_UI_ValuesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated codingConvention -->
      <editor
            id="codingConvention.values.presentation.ValuesEditorID"
            name="%_UI_ValuesEditor_label"
            icon="icons/full/obj16/ValuesModelFile.gif"
            extensions="values"
            class="codingConvention.values.presentation.ValuesEditor"
            contributorClass="codingConvention.values.presentation.ValuesActionBarContributor">
      </editor>
   </extension>

</plugin>
