<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl"
            class="ccsl.ccslPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements"
            class="ccsl.elements.ElementsPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/namedElements"
            class="ccsl.elements.namedElements.NamedElementsPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/namedElements/variable"
            class="ccsl.elements.namedElements.variable.VariablePackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/namedElements/complexType"
            class="ccsl.elements.namedElements.complexType.ComplexTypePackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/namedElements/method"
            class="ccsl.elements.namedElements.method.MethodPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/statements"
            class="ccsl.elements.statements.StatementsPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/statements/expressions"
            class="ccsl.elements.statements.expressions.ExpressionsPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/statements/literalValues"
            class="ccsl.elements.statements.literalValues.LiteralValuesPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/statements/controlFlow"
            class="ccsl.elements.statements.controlFlow.ControlFlowPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/statements/tryCatch"
            class="ccsl.elements.statements.tryCatch.TryCatchPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/statements/assignment"
            class="ccsl.elements.statements.assignment.AssignmentPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/statements/invocation"
            class="ccsl.elements.statements.invocation.InvocationPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/elements/datatype"
            class="ccsl.elements.datatype.DatatypePackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/context"
            class="ccsl.context.ContextPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/faultTypeDescription"
            class="ccsl.faultTypeDescription.FaultTypeDescriptionPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/faultTypeDescription/action"
            class="ccsl.faultTypeDescription.action.ActionPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/faultTypeDescription/strategy"
            class="ccsl.faultTypeDescription.strategy.StrategyPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/functions"
            class="ccsl.functions.FunctionsPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/functions/booleanFunctions"
            class="ccsl.functions.booleanFunctions.BooleanFunctionsPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/filters"
            class="ccsl.functions.booleanFunctions.filters.FiltersPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ccsl -->
      <package
            uri="http://www.example.org/ccsl/functions/numberFunctions"
            class="ccsl.functions.numberFunctions.NumberFunctionsPackage"
            genModel="model/ccsl.genmodel"/>
   </extension>

</plugin>
